$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$gallery-item-active-border-width: 0.125rem;

$gallery-item-vertical-margin-mobile: 20px;
$gallery-item-vertical-margin-tablet: 3vw; 
$gallery-item-vertical-margin-desktop: 1.25vw;